ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}
.container header1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:bold;
	color:white;
	text-align:center;
	position:absolute;
    top:10px;
	
}
.container search{
	height:100px;
	width:50px;
	position:absolute;
	top:20px;
	right:600px;
}
.carous{
  padding:1px;
  margin:200px;
  width:100%;
}

.container-fluid{
	background-color:#CCC;;
}

.carousel-inner h3{
	color:#0000A0;
}
.slide1{
	position:absolute;
	/*width:100%;*/
	top:20px;
	/*line-height:100px;*/
	
	
}*
.mycarousel {
	width:900px;
	height:10px;

	}

#wishlist{
	position:absolute;
	right:220px;
	top:90px;
	opacity:1px;
	width:60px;
	height:50px;
}

#cart{
	position:absolute;
	right:140px;
	top:50px;
	opacity:1px;
	width:80px;
	height:100px;	
}
 .container-fluid{
	height:auto;
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
}
body{
	margin-bottom:60px;
}
div p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:200;	
}
.jumbotron{
	background-color:#FFF;
}
.btn btn-lg btn-success{
	width: 400;

}

.half-rule{
	width:150px;
	}

.row1{
	padding-top:20px;
	padding-bottom:20px;
	font-size:16px;
	line-height:1.5;
	color:#666;
	text-align:center;
	background-color:#fff;
}	
.row2{
	border-bottom: 1px solid #999;
}
.end{
	padding-bottom:30px;
}
.lead1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:200;	
}
.jum{
	position:relative;
	margin-top:300px;
    
}



